 * {

    font-family: JetBrainsMono Nerd Font;

    font-size: 17px;

    padding: 0;

    margin: 0;

}


#waybar {

    color: #ffffff;

    /* Fixed typo: removed space between rgba and ( */

    background-color: rgba(0, 0, 0, 0.6); 

}


/* --- Common Module Styles --- */

#custom-launcher,

#clock,

#tray,

#custom-power {

    background: transparent;

    padding: 0px 10px;

    margin: 0px;

    transition: all 0.3s ease;

}


/* Launcher */

#custom-launcher {

    color: #ffffff;

    font-size: 16px;

    padding-right: 6px;

    padding-left: 0px;

}

#custom-launcher:hover {

    background: #ffffff;

    color: #000000;

}


#clock {

    color: #eeeeee;

}


/* Power Button */

#custom-power {

    color: #ffffff;

    padding-right: 5px;

    padding-left: 5px;

}

#custom-power:hover {

    background: #ffffff;

    color: #000000;

}


/* Tray */

#tray {

    padding: 0 5px;

}


#workspaces {

    background: transparent;

    margin-left: 5px; 

    padding: 0;

}


/* --- WORKSPACES LOGIC --- */


/* 1. OCCUPIED (Base Style) 

   This applies to workspaces that HAVE windows but are NOT active.

   We make them White so you know something is there. */

#workspaces button {

    padding: 0 4px;

    font-size: 5px; 

    min-height: 5px; 

    background: transparent;

    

    color: #c30010; /* White for Occupied */

    

    transition: all 0.3s ease;

}


/* 2. EMPTY (Persistent)

   This applies to workspaces 1-5 that have NO windows.

   We make them Gray so they fade into the background. */

#workspaces button.empty {

    color: #ffffff; 

}


/* 3. ACTIVE (Current)

   This is the workspace you are currently looking at. */

#workspaces button.active {

    color: #1793d1; /* Arch Blue */

    box-shadow: inset 0 -1px 0 0 #1793d1;

}


/* 4. URGENT (Alert) */

#workspaces button.urgent {

    color: #ff5555;

    animation-name: blink;

    animation-duration: 0.5s;

    animation-timing-function: linear;

    animation-iteration-count: infinite;

    animation-direction: alternate;

}


/* Hover effects */

#workspaces button:hover {

    color: #ffffff;

    box-shadow: inset 0 -1px 0 0 #ffffff;

}


@keyframes blink {

    to {

        color: #ffffff;

    }

}

/* --- Custom Network Module (Phone Style, Waybar-safe) --- */

#custom-network {
    background: transparent;
    padding: 0 12px;
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

/* Internet OK */
#custom-network.full {
    color: #ffffff;
}

/* Limited / portal */
#custom-network.limited,
#custom-network.portal {
    color: #f9e2af;
}

/* No internet / disconnected */
#custom-network.none,
#custom-network.unknown {
    color: #c30010;
}

/* Hover effect (same idea as your example) */
#custom-network:hover {
    background: #ffffff;
    color: #000000;
}
